@import url("http://fonts.cdnfonts.com/css/clash-display");
@import url("https://rsms.me/inter/inter.css");

* {
  padding: 0px;
  margin: 0px;
}

/* -------------------------Font Setting------------------------- */
body {
  font-family: "Clash Display", sans-serif;
  background-color: wheat;
  cursor: context-menu;
  height: 100%;
}
p {
  font-family: "Inter var", sans-serif;
}

/* -------------------------Navbar Section------------------------- */
#navbar {
  padding: 17px 26px;
  display: flex;
  background-color: white;
  align-items: center;
  position: absolute;
  position: sticky;
  top: 0px;
  z-index: 1;
}
#navbar ul {
  display: flex;
  margin-left: 40px;
  align-items: center;
}
#navbar ul li {
  /* padding: 20px 0px; */
  padding-left: 42px;
  list-style: none;
}
#navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

#navbar ul li a:hover {
  color: rgb(54, 114, 217);
}

.dropdown .dropbtn {
  border: none;
  color: black;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  /* padding: 22px 0px; */
  margin-left: 45px;
  background-color: white;
  font-family: "Clash Display", sans-serif;
  cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: rgb(54, 114, 217);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: justify;
  /* max-width: 100px; */
}

.dropdown-content a:hover {
  color: rgb(54, 114, 217);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#logo {
  height: 35px;
  margin-left: 145px;
  cursor: pointer;
}

.btn {
  font-family: "Clash Display", Sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  padding: 10px 32px;
  position: relative;
  left: 225px;
  margin-left: 18px;
  cursor: pointer;
  transition: all 0.5s;
}
#btn1 {
  color: #3672d9;
  background: white;
  border: 1px solid #132ea3;
  fill: #132ea3;
}
#btn1:hover {
  background-color: rgb(19, 46, 163);
  color: white;
}

#btn2 {
  color: white;
  fill: white;
  background: rgb(54, 114, 217);
  border: 1px solid #132ea3;
  fill: #132ea3;
}

#btn2:hover {
  background-color: rgb(23, 54, 170);
  color: white;
}

/* -------------------------Blue Box------------------------- */
#bluebox {
  background-color: rgb(54, 114, 217);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

#bluebox p {
  font-family: "Clash Display";
  line-height: 22px;
  margin: 5px 0px 3px -200px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
}

#bluebox #btn3 {
  margin: 0px;
  padding: 10px 35px;
  background-color: rgb(54, 114, 217);
  color: white;
  border: 1px solid white;
  margin-left: -190px;
}
#bluebox #btn3:hover {
  background-color: rgb(23, 54, 170);
  color: white;
}

.blueboxday {
  padding: 10px;
}
#blueboxday {
  margin-left: 40px;
}

.blueboxday span {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #ebebeb;
  display: block;
  margin: 4px 0 0;
  text-align: center;
}
div .blueyellow {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: black;
  background: #f5cd2f;
  display: block;
  padding: 6px;
  border-radius: 4px;
  min-width: 12px;
  text-align: center;
}

/* ------------------------- Section 1 ------------------------- */

#section1 {
  color: white;
  
}

#section1::before {
  content: "";
  background: url(../IMG/about_us-hero-min.png) no-repeat center center/cover;
  height: 110%;
  width: 100%;
  position: absolute;
  left: 0px;
  z-index: -1;
  opacity: 1;
}

#section1 h4 {
  font-size: 72px;
  line-height: 76px;
  /* font-style: normal; */
  margin-left: 291px;
  padding-top: 165px;
  font-weight: 500;
}
#section1 p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  padding-right: 760px;
  margin-left: 291px;
  padding-top: 26px;
}

#btn4 {
  font-family: "Clash Display", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
  fill: black;
  background-color: white;
  padding: 18px 26px;
  margin-left: 65px;
  margin-top: 67px;
  cursor: pointer;
}

#btn4:hover {
  background-color: rgb(54, 114, 217);
  color: white;
}

/* ------------------------- Section 2 ------------------------- */
#section2 {
  display: flex;
  margin-top: 145px;
  background-color: white;
  /* border: 2px solid red; */
}

.section2_child h3 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 500;
  margin-left: 178px;
  margin-top: 145px;
}
.section2_child p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-left: 178px;
  margin-top: 35px;
  padding-right: 80px;
}

#section2 img {
  height: 500px;
}

/* ------------------------- Section 3 ------------------------- */
#section3 {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 100%;
  padding: 95px;
  padding-left: 170px;
  padding-right: 170px;
  /* border: 2px solid yellow; */
}

#section3 h4 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 500;
}

#section3 > p {
  padding-right: 39%;
  margin: 4% 0%;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* #section3_child {
  border: 2px solid green;
} */

.section3_subchild {
  margin-top: 30px;
  cursor: pointer;
  /* border: 2px solid red; */
}

.section3_subchild img {
  width: 100%;
  cursor: context-menu;
}

.section3_subchild .img {
  /* border: 2px solid green; */
  width: 11%;
  height: 11%;
  display: inline-block;
  margin-right: 30px;
}
.box {
  /* border: 2px solid red; */
  width: 85%;
  display: inline-block;
  padding: 0px;
  transition: all 0.7s;
}
.box:hover {
  background-color: rgb(54, 114, 217);
}
.name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 430;
  margin: 0 0 10px;
  font-family: "Clash Display";
}
.post {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  margin: 0 0 10px;
}

.name,
.post {
  display: block;
}
.box:hover .name,
.box:hover .post {
  display: none;
}

.bio {
  display: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  max-width: 730px;
  padding: 17px 30px;
  /* height: 95px; */
  min-height: 90px;
}

.box:hover .bio {
  display: block;
}

#showMore {
  /* background-color: red; */
  display: none;
}

#btn5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background-color: black;
  color: white;
  margin: 0px;
  margin-left: -91px;
  padding: 25px 0px;
}
/* ------------------------- Section 4 ------------------------- */
#section4 {
  /* border: 2px solid red; */
  background-color: white;
  /* height: 100px; */
  padding: 130px 170px 110px 175px;
}

#section4_child {
  background-color: rgb(54, 114, 217);
  padding: 50px;
  color: white;
  height: 450px;
  padding: 2px;
}
#section4_child h4 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 500;
  margin-left: 80px;
  margin-top: 90px;
}
#section4_child p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  margin-left: 80px;
  margin-top: 25px;
  padding-right: 410px;
}
#section4_child div {
  display: inline-block;
  width: 30%;
  margin-left: 80px;
  margin-top: 25px;
}
#section4_child #emaildiv {
  margin-left: 15px;
  /* background-color: bisque; */
}
#section4_child div .email {
  margin-left: -90px;
}
#section4_child div input {
  width: 80%;
  padding: 15px 0px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  background-color: rgb(43, 91, 174);
  color: white;
  outline: none;
  border: none;
}
::placeholder {
  color: rgb(20, 237, 246);
}
#section4_child div input:hover {
  outline: 1px solid white;
}
#section4_child div label {
  display: block;
  margin: 0px;
  margin-bottom: 5px;
  width: 50px;
}
#section4_child div p {
  background-color: white;
  height: 1px;
  width: 86%;
  padding: 0px 0px;
  margin-left: 0px;
  margin-top: 0px;
}
#btn6 {
  margin-left: -210px;
  padding: 11px 60px;
  font-size: 18px;
}
#btn6:hover {
  background-color: rgb(23, 54, 170);
  color: white;
  padding: 17px 60px;
  border: none;
  outline: none;
}

#section4_child img {
  height: 44%;
  float: right;
  top: 0px;
  left: 0px;
}
/* ------------------------- Section 5 ------------------------- */
#section5 {
  display: flex;
  background-color: rgb(246, 250, 254);
  padding: 30px 0px 30px 175px;
  border: 1px solid white;
  border-top-color: rgb(219, 219, 219);
}

.section5_child {
  /* border: 2px solid green; */
  margin: 10px 105px 10px 0px;
  max-width: 40%;
  text-align: justify;
}

.section5_child p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 25px;
  margin-right: 218px;
  margin-bottom: 45px;
}

.section5_child h5 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.section5_child img {
  margin: 22px 10px 0px 0px;
  cursor: pointer;
}

.section5_child .link {
  margin: 0px;
  margin-top: 32px;
  color: rgb(54, 114, 217);
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

/* ------------------------- Section 6 ------------------------- */
#section6 {
  background-color: rgb(246, 250, 254);
  padding: 0px 170px 5px 5px;
  text-align: right;
}
#section6 #section6_child1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 5px;
  color: #00000080;
}
#section6 #section6_child2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
/* ------------------------- Footer ------------------------- */
footer {
  padding: 20px 170px 20px 175px;
  background-color: rgb(246, 250, 254);
  text-align: left;
}

footer span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-right: 20px;
  cursor: pointer;
}

footer #footerlight {
  color: #00000080;
  text-align: right;
  padding: 0px;
  padding-left: 212 px;
}
